html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#headerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0d0d;
    padding: 0px;
    height: 80px;
    z-index: 2;
}

nav{
    
    height: 100%;
    padding: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

#logoImage{
    margin-left: 20px;
    position: relative;
    top: 10px;
    left: 5px;
    
}
#loginBtn{
   background-color: #988141;
   color: black;
}


nav button{
    height: 30px;
    padding: 50px 30px 20px 30px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    background: none;
    border: none;
    font-weight:500;
    color: #988141;
    font-size: 16px;
    margin: 0 0px;
    cursor: pointer;
}

nav button:hover{
    color: black;
    border-bottom: 2px solid #988141;
    background-color: #988141;
}

#welcomeSection{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#overview{
    padding: 40px;
    background-color: #796634;
    font-family: "Quicksand", sans-serif;
    color: black;
    line-height: 1.6;
}

#splitBackgroud{
    display: flex;
    height: 100%;
    width: 100%;
}

#leftSide, #rightSide{
    flex: 1;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
}

#leftSide{
    background-image: url('Assets/privateJet2.jpg');
}

#rightSide{
    background-image: url('Assets/watch1.jpg');
}


#leftSide::before, #rightSide::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#rightSide::before {
    left: 50%;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -60%); }
  to { opacity: 1; transform: translate(-50%, -50%); }
}

#welcomeText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    padding: 20px;
    animation: fadeIn 2s ease;
}

#welcomeSection h1{
        color: white;
        font-size: 4rem;
        margin-bottom: 10px;
        font-weight: 100; 
        }
    
#welcomeSection p{
        font-family: "Quicksand", sans-serif;
        justify-self: center;
        color: white;
        font-size: 1.5rem;
        line-height: 1.6;
        max-width: 400px;
        margin-bottom: 20px;
    }

#buttonContainer{
        margin-top: 20px;
    }

#buttonContainer button{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight:500;
        font-style: normal;
        background-color: #988141;
        border: none;
        color: black;
        padding: 10px;
        margin: 0 15px;
        font-size: 0.9rem;
        cursor: pointer;
        border-radius: 2px;
    }

#buttonContainer button:hover{
        background-color: black;
        color: #988141;
        border: #988141 1px solid;
    }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-Content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-Content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-Content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-Content {
    display: block;
}

#greeting{
   color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
}

#headerSection > div{
    padding-right: 30px;
}

#cartCount{
    position: absolute;
    top: 8px;
    right: 10px;
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    min-width: 20px;
    box-sizing: border-box;
}


footer{
    font-family: quicksand, sans-serif;
    background-color: #0d0d0d;
    z-index: 1;
    color: #988141;
    padding: 20px;
}

#info{
    display: inline-flex;
    width: 100%;
    gap: 10px;
}

footer a{
    color: #988141;
    text-decoration: none;
}