html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

main.container {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}


#headerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0d0d;
    padding: 0px;
    height: 80px;
    z-index: 2;
}

nav{
    
    height: 100%;
    padding: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

#logoImage{
    margin-left: 20px;
    position: relative;
    top: 10px;
    left: 5px;
}

nav button{
    height: 30px;
    padding: 50px 30px 20px 30px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    background: none;
    border: none;
    font-weight:500;
    color: #988141;
    font-size: 16px;
    margin: 0 0px;
    cursor: pointer;
}

nav button:hover{
    color: black;
    border-bottom: 2px solid #988141;
    background-color: #988141;
}

#welcomeSection{
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url('Assets/banner2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

#welcomeSection h1{
    font-size: 48px;
    margin: 0;
}
#welcomeSection p{
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    margin: 10px 0 0 0;
}


#watchCollection {
     display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

#watchDisplay {
    flex: 3;
}

#watchList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}


#options {
    font-family: "Quicksand", sans-serif;
    flex: 1;
    max-width: 250px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
}

.filter {
    margin-bottom: 30px;
    width: 200px;
    flex: 1;
    display:inline-block;
    flex-direction: column;
}



#watchDisplay img{
    width: 200px;
    height: 250px;
}

#watchDisplay h3{
    margin: 10px 0;
    font-size: 20px;
    color: #333;
}

#watchDisplay p{
    color: #666;
    margin-bottom: 10px;
}
#watchList{
    text-align: center;
}
.watchItem{
    font-family: "Quicksand", sans-serif;
    display:inline-block;
    margin: 15px;
    padding: 20px;
    width: 250px;
    box-sizing: border-box;
}

.watchItem:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.addBtn {
  background-color: #c5a24b;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  position: relative;
  bottom: 0;
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 8px; 
  transition: background-color 0.3s;
}

.addBtn:hover {
  background-color: #b38d35;
}

.hidden {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-Content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-Content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-Content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-Content {
    display: block;
}

#greeting{
   color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
}

#headerSection > div{
    padding-right: 30px;
}

#cartCount{
    position: absolute;
    top: 8px;
    right: 10px;
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    min-width: 20px;
    box-sizing: border-box;
}

footer{
    font-family: quicksand, sans-serif;
    background-color: #0d0d0d;
    width: 100%;
    color: #988141;
    padding: 20px;
}

#info{
    display: inline-flex;
    width: 100%;
    gap: 10px;
}

footer a{
    color: #988141;
    text-decoration: none;
}